@use '../../styles/variables';

.contact-form {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;

  ul {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: block;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      opacity: 0;
      list-style: none;
      clear: both;
      overflow: hidden;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: variables.$background-color;
    height: 50px;
    font-size: 16px;
    color: variables.$font-color;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: variables.$background-color;
    height: 50px;
    font-size: 16px;
    color: variables.$font-color;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
    resize: none;
  }

  .flat-button {
    color: variables.$hover-color;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid variables.$hover-color;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: variables.$hover-color;
      color: #000;
      transition: all 0.3s ease-in-out;
    }
  }
}

.map-wrap {
  background: rgb(8 253 216 / 10%);
  float: right;
  width: 53%;
  height: 100%;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 267px;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 300;
  background: #000;
  color: #fff;
  animation: fadeInRightBig 1.5s 1.2s;
  animation-fill-mode: forwards;
  z-index: 999999;
  opacity: 0;

  span {
    font-size: 16px;

    span {
      color: variables.$hover-color;
    }
  }
}

@media screen and (width <= 1200px) {
  .map-wrap {
    float: none;
    margin: 0;
    width: 90%;
    height: 400px;
  }

  .info-map {
    display: none;
  }
}
